body {
	font-family: 'Lato', sans-serif;
	color: #000019;
}

#portfolioNav li.sectionActive {
	border-bottom: 2px solid black;
}

#portfolioNav .navbar-right li {
	text-align: center;
	width: 150px;
}

#portfolioNav .navbar-right li span.fa {
	margin-right: 5px;
}

.codeLinks {
	font-size: 100%;
}

.project-description {
	text-align: justify; 
	text-justify: inter-word; 
	font-size: 120%;
	margin-top: 20px;
}

.about-me {
	text-align: center; 
	font-size: 120%; 
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact-row {
	margin-top: 100px;
	margin-bottom: 100px;
}